.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
}

.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration-line: none;
}

/*.header__logo {
    
}*/

.header__logo-image {
    /*width: 100%;*/
    display: block;
    width: 148px;
    height: 105px;
}

.adress {
    margin: 0;
    padding: 0;
    /*justify-self: end;*/
    line-height: 24.3px;
    
}

.header__address {
    justify-self: end;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    text-underline-offset: 4px;
}

.cover {
    margin: 0 0 180px 0;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / .6);
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

.cover__title {
    /*width: 1000px;
    height: 385px;*/
    margin: 165px 50px 0 ;
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    /*line-height: 114.99%;
    letter-spacing: 30px;*/
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.aligned-text { 
    /*если не добавить, то текст не будет переносится*/
    line-height: 115%;
    letter-spacing: 30px;
}

.aligned-text_left {
/*для слова ОНО*/
    text-align: left;
}

.aligned-text_center {
/*для слова ТЕБЕ*/
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
/*для слова надо*/
    text-align: end;
    margin-right: -30px;
}

.letter-spacing-extended {
   /* letter-spacing: 0; */
}


.cover__description {
    padding: 106px 50px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 15px;
    align-self: center;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500px;
    border-color: #fff;
    padding: 12px 32px;
    /*оттолкнет слово внутри кнопки от границы*/
    
}

.lots {
    margin: 0 24px 120px 24px;
    /*display: flex;
    flex-direction: column;*/
   
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    font-style: Bold;
    text-transform: uppercase;

}

.lots__card-list {
    margin: 0;
    padding: 0;
    /*margin: 0 0 53px 0;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*перенесет доп карточку на новую строчку*/
    column-gap: 25px;
    row-gap: 25px;
    /*создаст пространство между доп рядом*/
    /*max-width: 334px;*/
    

}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
        
}

.card-link {
    height: 100%;
    position: relative;

}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
                          
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
         
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    
}

.card__title {
    padding: 48px 40px 0 40px;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    z-index: 3;
    
}

.card__text {
    padding: 0 40px 48px 40px;
    font-size: 20px;
    color: #fff;
    z-index: 3;
    
}

.lots__look-more-link{
    padding: 30px 0 0 40px;
    font-size: 20px;
    
}

.about {
    margin: 0 24px;
    display: grid;
    grid-template-columns: 334px auto; 
    /*grid-template-rows: auto;
    /*background-color: brown;*/

}

.about__column {
   /*display: grid;*/
    justify-self: center;
}

.about__logo {
    padding-top: 35px; */
   /* display: flex;
    justify-content: center;
    align-items: center; */
    /*width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;*/
           
}

.about__logo-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
   /* align-items: center;
    justify-content: center; */
      
}

.about__title {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 135px 0 99px 24px;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    align-content: center;

}

.about__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 20px;
    line-height: 24px;
    /*max-width: 693px;*/
    display: flex;
    flex-direction: column;
    gap: 24px;
    /*padding-right: 5px;*/
    padding-left: 25px;
    
}

.about__text-paragraph1 {
    /*display: inline-block;*/
    max-width: 688px;
}

/*.about__text-paragraph2 {
   /* display: inline-block;
    max-width: 693px;
    max-height: 168px; 
}*/

.footer {
    margin-top: 181px;
    padding: 0 50px 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    
}

.footer__address {
    max-width: 264.57px;
    /*justify-self: start;*/
    display: flex;
    flex-direction: column;
    align-items: start;
    text-underline-offset: 4px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {
    text-align: center;
    text-underline-offset: 3px;

}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    justify-self: end;
    /* padding-right: 50px;*/
    width: 240px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.footer__social-icon {
    width: 48px;
    height: 48px;
}